<html>
<head>
    <style>
    body{
        background-image:url('back.jpg');
        background-size:cover;
    }
        .restaurant{
            border:2px solid black;
            width:45%;
        }
           </style>
</head>
                       <body>
<div ng-controller="restaurantController">
    <!--<div ng-repeat="restaurant in restaurants"></div>-->
    <h1>Show Restaurant {{restaurantId}} details here</h1>

<!--<div class="rest-extra">-->
    <!--<div class="type">-->
        <!--<div>Name:{{restaurant.name}}</div>-->
        <!--<div><small>Cuisines:{{restaurant.Cuisine}}</small></div>-->
        <!--<div><small>Cost for Two:₹{{restaurant.cost }} </small></div>-->
        <!--<div>{{restaurant.image}}</div>-->

        <!--<div ng-if="restaurants.recommendedDish"><small>Recommended: </small></div>-->
    <!--</div>-->
        <!--<div class="bestDish" ng-if="restaurant.recommendedDish">-->
            <!--<span>{{restaurant.recommendedDish.name}} </span>-->
            <!--<button type="button" ng-click=getIngrediants(resturant.recommendedDish.image)>Get Ingredients</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="restaurant">
        <div class="rest-wrapper">
            <div class="image">
                <img src="{{restaurant.image}}" height="200" width="200">
            </div>
            <hr>
            <h2>{{restaurant.name}}</h2>
            <p>Cuisines:{{restaurant.Cuisine}}</p>
            <div><small>Cost for Two:₹{{restaurant.cost | number}} </small></div>
            <div><small>Votes:{{restaurant.votes}}</small></div>
            <div ng-if="restaurants.recommendedDish"><small>Recommended: </small></div>
        </div>
        <div class="bestDish" ng-if="restaurant.recommendedDish">
            <span>Weekend Special:<br>{{restaurant.recommendedDish.name}}<hr> </span>
            <button type="button" ng-click=getIngrediants(resturant.recommendedDish.image)>Get Ingredients</button>
        </div>
            </div>
        </div>

              </div>

</div>



</div>



<!--<li ng-repeat="ingredient in ingredients">-->
                <!--{{ingredient}}-->
            <!--</li>-->
        <!--</ol>-->
    <!--</div>-->
                       </body>
</html>
