<html>
<head>
    <style>
    body{
        background-color:cadetblue;
    }
           </style>
</head>
                       <body>
<div ng-controller="restaurantController">
    <!--<div ng-repeat="restaurant in restaurants"></div>-->
    <h1>Show Restaurant {{restaurantId}} details here</h1>

<!--<div class="rest-extra">-->
    <!--<div class="type">-->
        <!--<div>Name:{{restaurant.name}}</div>-->
        <!--<div><small>Cuisines:{{restaurant.Cuisine}}</small></div>-->
        <!--<div><small>Cost for Two:₹{{restaurant.cost }} </small></div>-->
        <!--<div>{{restaurant.image}}</div>-->

        <!--<div ng-if="restaurants.recommendedDish"><small>Recommended: </small></div>-->
    <!--</div>-->
        <!--<div class="bestDish" ng-if="restaurant.recommendedDish">-->
            <!--<span>{{restaurant.recommendedDish.name}} </span>-->
            <!--<button type="button" ng-click=getIngrediants(resturant.recommendedDish.image)>Get Ingredients</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="restaurant">
        <div class="rest-wrapper">
            <div class="image">
                <img src="{{restaurant.image}}" height="200" width="200">
            </div>
            <h2>{{restaurant.name}}</h2>
            <p>Cuisines:{{restaurant.Cuisine}}</p>
            <div><small>Cost for Two:₹{{restaurant.cost | number}} </small></div>
            <div><small>Votes:{{restaurant.votes}}</small></div>


            <!--<div class="rest-name">-->
                    <!--<strong>{{restaurant.name}}</strong>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<strong> {{restaurant.address}}</strong>-->
                <!--</div>-->
                <!--<div class="rest-address">-->
                    <!--{{restaurant.address}}-->
                <!--</div>-->
            </div>
        </div>
              </div>
        </div>




    <!--<div ng-if="ingredients">-->
        <!--<ol>-->                                                                                                  <!--<div ng-if="restaurants.recommendedDish"><small>Recommended: </small></div>-->
<!--</div>-->
<!--<div class="bestDish" ng-if="restaurant.recommendedDish">-->
<!--<span>{{restaurant.recommendedDish.name}} </span>-->
<!--<button type="button" ng-click=getIngrediants(resturant.recommendedDish.image)>Get Ingredients</button>-->
<!--</div>-->
<!--</div>-->

<!--<li ng-repeat="ingredient in ingredients">-->
                <!--{{ingredient}}-->
            <!--</li>-->
        <!--</ol>-->
    <!--</div>-->
                       </body>
</html>
