<html>
<head>
    <style>
    body{
        background-image:url('back.jpg');
        background-size:cover;
    }
        .restaurant{
            border:2px solid black;
            width:40%;
            border-radius:.5%;
        }
        .button1{
            background-color:#cb202d;
            padding: 0.4rem 1rem;
            border-radius: 4%;
            cursor: pointer;
            color:white;

        }
           </style>
</head>
<body>

    <div ng-controller="restaurantController">
    <!--<div ng-repeat="restaurant in restaurants"></div>-->
    <h1>Show Restaurant {{restaurantId}} details here</h1>
    <div class="restaurant">
        <div class="rest-wrapper">
            <div class="image">
                <img src="{{restaurant.image}}" height="200" width="200">
            </div>
            <hr>
            <h2>{{restaurant.name}}</h2>
            <p>Cuisines:{{restaurant.Cuisine}}</p>
            <div><small>Cost for Two:₹{{restaurant.cost | number}} </small></div>
            <div><small>Votes:{{restaurant.votes}}</small></div>
            <div ng-if="restaurants.recommendedDish"><small>Recommended: </small></div>
        </div>
        <div class="bestDish" ng-if="restaurant.recommendedDish">
            <span>Weekend Special:<br>{{restaurant.recommendedDish.name}}<hr> </span>

            <button type="button" class="button1" ng-click=' getIngredients(resturant.recommendedDish.image)'>Get Ingredients</button>

        </div>

            </div>
        </div>

              </div>

</div>






<div ng-if="ingredients">
    <ol>
        <li ng-repeat="ingredient in ingredients">
            {{ingredient}}
        </li>
    </ol>
</div>


<!--<li ng-repeat="ingredient in ingredients">-->
                <!--{{ingredient}}-->
            <!--</li>-->
        <!--</ol>-->
    <!--</div>-->
                       </body>
</html>
